/* Write your CSS code here */
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button {
  font-family: 'Roboto';
  color: black;
  height: 24px;
  width: 70px;
}
